<link rel="stylesheet" href="/Resources/Assets/Css/Admin/estoque.css" />
<main class="main">
  <div class="container">
    <table>
      <caption>
        Estoque
      </caption>
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Status</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr">
          <td data-label="Produto">Resma Papel A4</td>
          <td data-label="Quantidade">3</td>
          <td data-label="Status" class="status">
            <div class="radius" id="statusGreen"></div>
          </td>
          <td data-label="Categoria">Escritorio</td>
          <td data-label="Ação">
            <img class="iconEdit"
              src="/Resources/Assets/Imagens/iconEdit.png" alt="">
          </td>
        </tr>
        <tr class="tr">
          <td data-label="Produto">Resma Papel A4</td>
          <td data-label="Quantidade">3</td>
          <td data-label="Status" class="status">
            <div class="radius" id="statusGreen"></div>
          </td>
          <td data-label="Categoria">Escritorio</td>
          <td data-label="Ação">
            <a href="/estoque/editar">

              <img class="iconEdit"
                src="/Resources/Assets/Imagens/iconEdit.png" alt="">
            </a>

          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
