<link rel="stylesheet" href="/Resources/Assets/Css/Admin/requisicoes.css" />
<main class="main">
  <div class="container">
    <table>
      <caption>
        Requisições
      </caption>
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Hora da requisição</th>
          <th scope="col">Data da requisição</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr">
          <td data-label="Produto">Resma Papel A4</td>
          <td data-label="Quantidade">3</td>
          <td data-label="Hora">17:30</td>
          <td data-label="Data">06/10/2022</td>
          <td data-label="Status" class="status">
            <div class="radius" id="statusGreen"></div>
          </td>
          <td data-label="Ações">

            <button class="btn">Negar</button>
            <button class="btn">Aceitar</button>

          </td>
        </tr>

      </tbody>
    </table>
  </section>
</main>

