<link rel="stylesheet" href="/Resources/Assets/Css/cadastro.css" />
<link rel="stylesheet" href="/Resources/Assets/Css/global.css" />

  <body>
    <div class="tudo">
      <div class="bloco1">
        <form action="" class="form">
          <ul class="title">
            <a href="/">
              <li>Login</li>
            </a>
            <a href="/cadastro">
              <li>Cadastro</li>
            </a>
          </ul>

          <div class="box">
            <input type="text" required />
            <span>Cpf</span>
            <i></i>
          </div>

          <div class="box">
            <input type="password" required />
            <span>Senha</span>
            <i></i>
          </div>

          <div class="box">
            <input type="password" required />
            <span>Confirmar senha</span>
            <i></i>
          </div>
        </form>
        <div class="submit">
          <button class="btn">Confirmar</button>
        </div>
      </div>
    </div>
  </body>
</html>
