<link rel="stylesheet" href="/Resources/Assets/Css/Usuario/carrinho.css" />

<main class="main">
  <table class="table">
    <caption>
      Meu carrinho
    </caption>
    <thead class="thead">
      <tr class="tr">
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>

    <tbody class="tbody">
      <tr class="tr">
        <td data-label="Produto">Resma Papel A4</td>
        <td data-label="Quantidade">
          3
        </td>
        <div class="icons">
          <td data-label="Ação">
            <img id="myBtn" class="iconDelete"
              src="/Resources/Assets/Imagens/iconDelete.png" alt="">
          </td>
        </div>
      </tr>
    </tbody>
  </table>


  <div id="myModal" class="modal">
    <div class="modalDelete">
      <p>Excluir</p>

      <div class="popup-close-delete">
        <span class="close">&times;</span>
      </div>
      <div class="content">
        Você realmente deseja excluir o produto <b>${nameProduct}</b>?
      </div>

      <button type="submit" class="btnExcluirUser">Excluir</button>
    </div>
  </div>
  <div class="btnAction">
    <button class="btn">Confirmar</button>
  </div>


  <script>
    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function () {
  modal.style.display = "block";
};

// When the user clicks on <span> (x), close the modal
span.onclick = function () {
  modal.style.display = "none";
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};

  </script>
</main>
