<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Resources/Assets/Css/Usuario/home.css" />
  </head>
  <body>
    <main class="main">
      <div class="containerInput">
        <div class="searchbox">
          <input
            type="text"
            class="searchinput"
            placeholder="Buscar produto desejado..."
            />

          <button class="searchbutton">
            <img class="iconSearch"
              src="/Resources/Assets/Imagens/iconSearch.png" alt="">
          </button>
        </div>
      </div>
      <a href="/requisicoes">
        <button class="btn">Requisições</button>
      </a>
    </main>

  </body>
</html>
